@section menu{
    @await Html.PartialAsync("_customer_menu")
}

@section user_information{
    @await Component.InvokeAsync("UserDetail")
}

@model Cart

<div class="content">

                    <!-- Start Content-->
                    <div class="container-fluid">
                        
                        <!-- start page title -->
                        <div class="row">
                            <div class="col-12">
                                <div class="page-title-box">
                                    <div class="page-title-right">
                                        <ol class="breadcrumb m-0">
                                            <li class="breadcrumb-item"><a href="javascript: void(0);">UBold</a></li>
                                            <li class="breadcrumb-item"><a href="javascript: void(0);">Ecommerce</a></li>
                                            <li class="breadcrumb-item active">Shopping Cart</li>
                                        </ol>
                                    </div>
                                    <h4 class="page-title">Shopping Cart</h4>
                                </div>
                            </div>
                        </div>     
                        <!-- end page title --> 

                        <div class="row">
                            <div class="col-12">
                                <div class="card">
                                    <div class="card-body">
                                        <div class="row">
                                            <div class="col-lg-8">
                                                <div class="table-responsive">
                                                    <table class="table table-borderless table-centered mb-0">
                                                        <thead class="thead-light">
                                                            <tr>
                                                                <th>Product</th>
                                                                <th>Price</th>
                                                                <th>Quantity</th>
                                                                <th>Total</th>
                                                                <th style="width: 50px;"></th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            
                                                            @foreach (CartItem cartItem in Model.CartItems)
                                                            {
                                                                <tr>
                                                                <td>
                                                                    <img src="/img/product/@cartItem.Product.ImageUrl" alt="contact-img" title="contact-img" class="rounded mr-3" height="48">
                                                                    <p class="m-0 d-inline-block align-middle font-16">
                                                                        <a href="ecommerce-product-detail.html" class="text-reset font-family-secondary">@cartItem.Product.Name</a>
                                                                    </p>
                                                                </td>
                                                                <td>
                                                                    @cartItem.Product.UnitPrice
                                                                </td>
                                                                <td>
                                                                    <input type="number" min="1" value="@cartItem.Quantity" class="form-control" placeholder="Qty" style="width: 90px;">
                                                                </td>
                                                                <td>
                                                                    @(cartItem.Quantity * cartItem.Product.UnitPrice)
                                                                </td>
                                                                <td>
                                                                    <a asp-controller="CartItem" asp-action="Remove" asp-route-id="@cartItem.Product.ProductId" class="action-icon"> <i class="mdi mdi-delete"></i></a>
                                                                </td>
                                                            </tr>
                                                            }
                                                        </tbody>
                                                    </table>
                                                </div> <!-- end table-responsive-->

                                                

                                                <!-- action buttons-->
                                                <div class="row mt-4">
                                                    <div class="col-sm-6">
                                                        <a asp-controller="Product" asp-action="List" class="btn text-muted d-none d-sm-inline-block btn-link font-weight-semibold">
                                                            <i class="mdi mdi-arrow-left"></i> Continue Shopping </a>
                                                    </div> <!-- end col -->
                                                    <div class="col-sm-6">
                                                        <div class="text-sm-right">
                                                            <a asp-controller="Cart" asp-action="Checkout" class="btn btn-danger"><i class="mdi mdi-cart-plus mr-1"></i> Checkout </a>
                                                        </div>
                                                    </div> <!-- end col -->
                                                </div> <!-- end row-->
                                            </div>
                                            <!-- end col -->

                                            <div class="col-lg-4">
                                                <div class="border p-3 mt-4 mt-lg-0 rounded">
                                                    <h4 class="header-title mb-3">Order Summary</h4>

                                                    <div class="table-responsive">
                                                        <table class="table mb-0">
                                                            <tbody>
                                                                <tr>
                                                                    <th>Total :</th>
                                                                    <th>@Model.CalculateTotalPrice()</th>
                                                                </tr>
                                                            </tbody>
                                                        </table>
                                                    </div>
                                                    <!-- end table-responsive -->
                                                </div>

                                                

                                                
                                            </div> <!-- end col -->

                                        </div> <!-- end row -->
                                    </div> <!-- end card-body-->
                                </div> <!-- end card-->
                            </div> <!-- end col -->
                        </div>
                        <!-- end row -->
                        
                    </div> <!-- container -->

                </div>